.status span {
    top: 10px;
    right: 20px;
}
.card {
    border: 2px solid #0d907a;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px;
    flex: 0 0 calc(33.33% - 20px);
    margin-left: 20px;
   
   
  
}
.status {
    margin-bottom: 5px;
}
.image {
    border-radius: 20px 20px 0px 0px;
}
img {
    border-radius: 8px 8px 0px 0px;
}

    
